.contato {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.formContato {
    height: 3rem;
    margin-top: 1rem;
}

.footer-contato {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}